.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

*{
    font-family: 'Lucida Sans';
    background-color: #181326;
    color: #fffbf0;
}

h1{
    margin: 0;
}